 .tianyu__FlexSearch {
    position:relative;
    &.noModal {
        .input-container {
            display: inline-flex;
            align-items: center;
            border: 1px solid #999;
            border-radius: 20px;
            padding: 4px 10px 4px 16px;
            background-color:white;
            .search-box {
                border: none;
                outline: none;
            }
            .search-btn {
                cursor: pointer;
                display: flex;
                svg {
                    width:24px;
                }
            }
        }
        .search-result {
            position: absolute;
            display: flex;
            flex-flow: column;
            right: 0;
            top: 40px;
            background-color: white;
            border: 1px solid #999;
            border-radius: 4px;
            max-height:420px;
            overflow: overlay;
            z-index:999;
            .result-item {
                display: flex;
                flex-flow: column;
                font-size: 13px;
                cursor:pointer;
                text-decoration: none;
                padding: 20px 24px;
                width: 500px;
                height: 120px;
                flex-shrink: 0;
                &.withImg {
                    position:relative;
                    padding-left:120px;
                    img {
                        width: 100px;
                        height: 80px;
                        left: 10px;
                        object-fit: scale-down;
                        position: absolute;
                    }
                }
                &:hover {
                    background-color:#eee;
                    .title {
                        text-decoration: underline;
                    }
                    .preview {
                        &:after {
                            display:none !important;
                        }
                    }
                }
                &:not(:last-child) {
                    border-bottom: 1px solid #999;
                }
                .title {
                    color: #222;
                    font-weight: 700;
                    line-height: 1;
                    max-width: 90%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .href {
                    color: #006621;
                    font-weight: 400;
                    line-height: 1;
                    margin-top: 6px;
                }
                .preview {
                    color:#444;
                    font-weight:400;
                    line-height:13px;
                    margin-top:6px;
                    em {
                        font-weight:600;
                        color:#333;
                    }
                    --max-lines: 3;
                    --lh:13px;
                    max-height: calc(var(--lh) * var(--max-lines));
                    overflow: hidden;
                    position: relative;
                    &:after {
                        content: "";
                        text-align: right;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        width: 16%;
                        height: 1em;
                        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 60%);
                    }
                }
            }
        }
    }
    &.withModal {
        .modal-trigger {
            display: flex;
            align-items: center;
            cursor:pointer;
            .search-text {
                margin-left:4px;
            }
            svg {
                fill:white;
                width:20px;
            }
        }
        .search-modal {
            display: none;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(0,0,0,0.9);
            z-index: 999;
            justify-content: center;
            padding: 4% 0 6% 0;
            .search-container {
                width: 80%;
                display: flex;
                flex-flow: column;
                align-items: center;
                .input-container {
                    display: inline-flex;
                    align-items: center;
                    border: 1px solid #999;
                    border-radius: 20px;
                    padding: 4px 10px 4px 16px;
                    background-color: white;
                    width: 80%;
                    input {
                        border: none;
                        outline: none;
                        width: 100%;
                    }
                    .search-btn {
                        cursor: pointer;
                        display: flex;
                        svg {
                            width:24px;
                        }
                    }
                }
                .search-result {
                    max-height: calc(100vh - 4% - 60px);
                    overflow: overlay;
                    margin-top: 20px;
                    background: white;
                    // border: 1px solid #eee;
                    border-radius: 6px;
                    .result-item {
                        display: flex;
                        flex-flow: column;
                        text-decoration: none;
                        border-bottom: 1px solid #ccc;
                        padding:20px 36px;
                        height:180px;
                        flex-shrink: 0;
                        &.withImg {
                            position:relative;
                            padding-left:140px;
                            img {
                                width: 120px;
                                height: 127px;
                                left: 10px;
                                object-fit: scale-down;
                                position: absolute;
                            }
                        }
                        &:hover {
                            .title {
                                text-decoration: underline;
                            }
                        }
                        .title {
                            color:rgb(26, 13, 171);
                            font-size:20px;
                        }
                        .href {
                            color:rgb(0, 102, 33);
                            font-size:16px;
                            line-height:1.2;
                        }
                        .preview {
                            --lh:18px;
                            color:#444;
                            font-weight:400;
                            line-height:var(--lh);
                            margin-top:6px;
                            em {
                                font-weight:600;
                                color:#333;
                            }
                            --max-lines: 4;
                            max-height: calc(var(--lh) * var(--max-lines));
                            overflow: hidden;
                            position: relative;
                            font-size:14px;
                            &:after {
                                content: "";
                                text-align: right;
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                width: 16%;
                                height: 1em;
                                background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 60%);
                            }
                        }
                    }
                }
                .close {
                    fill: white;
                    width: 28px;
                    height: 28px;
                    position: fixed;
                    top: 24px;
                    right: 48px;
                    cursor: pointer;
                }
            }
        }
    }
 }