
.Section#Section29 {
padding-left:0px;
padding-right:0px;
padding-top:0px;
padding-bottom:0px;
background-color:rgb(66, 139, 202);
flex-direction:row !important;
-webkit-box-orient:horizontal !important;
-webkit-box-direction:normal !important;
}
.Title#Title6 {
color:rgb(51, 51, 51);
font-size:3.5rem;
}
.Text#Text6 {
color:rgb(153, 153, 153);
font-size:1.1rem;
font-weight:300;
margin-bottom:1rem;
}
.Section#Section34 {
padding-top:54px;
padding-bottom:1.25rem;
margin-bottom:2rem;
border-bottom-width:1px;
border-style:solid;
border-color:rgb(238, 238, 238);
border-left-width:0;
border-top-width:0;
border-right-width:0;
}
.Title#Title11 {
margin-bottom:.25rem;
font-size:2.5rem;
}
.Text#Text13 {
color:rgb(153, 153, 153);
font-size:1rem;
margin-bottom:1.25rem;
}
.Text#Text14 {
margin-bottom:1rem;
}
.Section#Section38 {
padding-left:0px;
padding-right:0px;
padding-top:0px;
padding-bottom:0px;
margin-bottom:4rem;
}
.Title#Title12 {
margin-bottom:0.25rem;
font-size:2.5rem;
}
.Text#Text16 {
font-size:1rem;
color:rgb(153, 153, 153);
margin-bottom:1.25rem;
}
.Section#Section40 {
padding-left:0px;
padding-right:0px;
padding-top:0px;
padding-bottom:0px;
margin-bottom:4rem;
}
.Title#Title13 {
margin-bottom:0.25rem;
font-size:2.5rem;
}
.Text#Text18 {
font-size:1rem;
color:rgb(153, 153, 153);
margin-bottom:1.25rem;
}
.Section#Section41 {
padding-left:0px;
padding-right:0px;
padding-top:0px;
padding-bottom:0px;
margin-bottom:2rem;
}
.Button#Button1 {
border-radius:40px;
font-size:1rem;
margin-right:10px;
padding-left:1rem;
padding-right:1rem;
padding-top:.5rem;
padding-bottom:.5rem;
}
.Button#Button2 {
border-radius:40px;
font-size:1rem;
padding-left:1rem;
padding-right:1rem;
padding-top:.5rem;
padding-bottom:.5rem;
}
.Section#Section36 {
padding-left:0px;
padding-right:0px;
padding-top:0px;
padding-bottom:0px;
}
.Title#Title15 {
color:rgb(51, 51, 51);
font-size:1.5rem;
margin-bottom:.5rem;
}
.Section#Section43 {
background-color:rgb(245, 245, 245);
border-radius:4.5px;
}
.Title#Title16 {
font-size:1.5rem;
margin-bottom:.5rem;
}
.Title#Title17 {
font-size:1.5rem;
margin-bottom:.5rem;
}
.Section#Section37 {
padding-left:0px;
padding-right:0px;
padding-top:0px;
padding-bottom:0px;
}
.Section#Section35 {
padding-left:0px;
padding-right:0px;
padding-top:0px;
padding-bottom:0px;
}
.Footer#Footer1 {
padding-top:2.5rem;
padding-bottom:2.5rem;
background-color:rgb(249, 249, 249);
border-color:rgb(229, 229, 229);
border-top-width:1px;
border-style:solid;
border-bottom-width:0;
border-left-width:0;
border-right-width:0;
}
.Text#Text23 {
margin-bottom:1rem;
color:rgb(153, 153, 153);
}
.Link#Link1 {
margin-bottom:1rem;
}
