a, p, [role="paragraph"], div, span, li, button {font-family: OpenSans;
font-size: 18px;
}
:root {font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {font-family: Montserrat;
font-weight: 600;
}
p, [role="paragraph"] {font-family: OpenSans;
}
a {font-family: OpenSans;
font-size: 18px;
}
button {font-size: 18px;
}
[role*="navbar"] a {font-size: 15px;
font-family: Montserrat;
}
@media screen and (min-width: 576px) {}
@media screen and (min-width: 768px) {button { font-size:18px;}
}
@media screen and (min-width: 992px) {}
@media screen and (min-width: 1200px) {button { font-size:18px;}
}

button.globalButton, input[type=submit].globalButton, a[role=button] { padding: 0.5rem 1rem 0.5rem 1rem;; ; border:2px solid;; border-radius: 5px;; ; }

button.globalButton:hover { box-shadow: 0px 0px 10px 0px rgb(152, 0, 0);; }

input[type=submit].globalButton:hover { box-shadow: 0px 0px 10px 0px rgb(152, 0, 0);; }

a[role=button]:hover { box-shadow: 0px 0px 10px 0px rgb(152, 0, 0);; }
input[type=text].globalInput, input:not([type]).globalInput, input[type=email].globalInput, input[type=number].globalInput, input[type=password].globalInput { padding: 0.5rem 1rem 0.5rem 1rem !important;; ; ; border-radius: 5px !important;; ; }

h1, h2, h3, h4, h5, h6, [role=title] { ; }

 
.Section{display:flex;font-weight:400;font-size:1em;line-height:1.6;padding:20px;color:#444;flex-wrap:wrap;-webkit-font-smoothing:antialiased}
.NavigationItem>a {
  padding: 0;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-shadow: inherit;
  font-family: inherit;
  line-height: inherit;
  text-decoration: inherit;
}

.Blog{width:100%}.Blog .blogs-container{width:100%;display:flex;flex-flow:column}.Blog .blogs-container .cards-filters{padding:0 22px;display:flex}.Blog .blogs-container .cards-filters .tabs-container{display:flex;align-items:center;margin-left:12px}.Blog .blogs-container .cards-filters .tabs-container .tab-item{padding:2px 12px;border:1px solid #999;color:#999;border-radius:20px;font-size:10px;margin-right:8px;cursor:pointer}.Blog .blogs-container .cards-filters .tabs-container .tab-item.active{background-color:#faebd7}.Blog .blogs-container .cards-filters .input-container{display:inline-flex;border:1px solid #ccc;border-radius:20px;position:relative;padding:4px 12px}.Blog .blogs-container .cards-filters .input-container .search-box{border:none;padding-right:26px;outline:none}.Blog .blogs-container .cards-filters .input-container .search-btn{color:#ccc;position:absolute;right:10px;top:6px;display:flex}.Blog .blogs-container .cards-filters .input-container .search-btn svg{fill:#bbb;height:22px;width:22px}.Blog .cards-innerHolder{display:flex;flex-wrap:wrap;width:85%}.Blog .cards-innerHolder .card-item{min-height:500px;padding:20px;width:323px;box-sizing:border-box}.Blog .cards-innerHolder a{display:flex;flex-flow:column;text-decoration:none;color:#000}.Blog .cards-innerHolder a img{width:100%;height:420px;-o-object-fit:cover;object-fit:cover;margin-bottom:8px}.Blog .cards-innerHolder a .blog-meta{display:flex;align-items:center;justify-content:space-between;color:#d08d43;text-transform:uppercase;font-size:11px;font-weight:500}.Blog .cards-innerHolder a .blog-title{font-weight:500}.Blog .cards-innerHolder a .blog-title p{margin:0}
.Footer{display:flex}
.Text ul li{list-style-type:disc}.Text ol li{list-style-type:decimal}.Text h1,.Text h2,.Text h3,.Text h4,.Text h5{margin:20px 0 10px 0}




.Section#Section47 {
padding-left:0px;
padding-right:0px;
padding-top:0px;
padding-bottom:0px;
background-color:rgb(66, 139, 202);
}
.Blog#Blog1 {
padding-top:42px;
}
.Footer#Footer3 {
padding-top:2.5rem;
padding-bottom:2.5rem;
margin-top:auto;
background-color:rgb(249, 249, 249);
border-color:rgb(229, 229, 229);
border-top-width:1px;
border-style:solid;
border-bottom-width:0;
border-left-width:0;
border-right-width:0;
flex-direction:column !important;;
align-items:center!important;
}
.Text#Text27 {
margin-bottom:1rem;
color:rgb(153, 153, 153);
}
.Link#Link3 {
margin-bottom:1rem;
}
.Page#page-4 {
display:flex;
flex-direction:column;
height:100vh;
}
