.Button {
    $iconic-font-path: '../assets/';

    @font-face {
      font-family: 'Iconic';
      src: url('#{$iconic-font-path}iconic-sm.eot');
      src: url('#{$iconic-font-path}iconic-sm.eot?#iconic-sm') format('embedded-opentype'),
          url('#{$iconic-font-path}iconic-sm.woff') format('woff'), url('#{$iconic-font-path}iconic-sm.ttf') format('truetype'), 
          url('#{$iconic-font-path}iconic-sm.otf') format('opentype'), url('#{$iconic-font-path}iconic-sm.svg#iconic-sm') format('svg');
      font-weight: 400;
      font-style: normal;
    }
    
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border: 1px solid transparent;
	transition: color .15s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
    
	p {
		display: inline;
	}
    
    img.ButtonIcon {
        width: 0.8em;
    }
    
	@mixin icon {
		position: relative;
		margin-right: 10px;
		vertical-align: sub;
		top: 5px;
        line-height: 1;
        width: 1em;
	}
    
    .ButtonIcon[data-glyph] {
         &:before {
            position: relative;
            top: 1px;
            font-family: 'Iconic';
            display: inline-block;
            speak: none;
            line-height: 1;
            vertical-align: baseline;
            font-weight: 400;
            font-style: normal;
            font-size: 0.8em;;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
    
    .ButtonIcon[data-glyph=none]:before {
		display: none;
    }
    
    .ButtonIcon[data-glyph=plus]:before {
      content: '\e212';
    }

    .ButtonIcon[data-glyph=plus-thin]:before {
      content: '\e211';
    }

    .ButtonIcon[data-glyph=minus-thin]:before {
      content: '\e1f6';
    }

    .ButtonIcon[data-glyph=minus]:before {
      content: '\e1f7';
    }

    .ButtonIcon[data-glyph=network]:before {
      content: '\e1fc';
    }

    .ButtonIcon[data-glyph=people]:before {
      content: '\e205';
    }

    .ButtonIcon[data-glyph=check-thin]:before {
      content: '\e153';
    }

    .ButtonIcon[data-glyph=check]:before {
      content: '\e154';
    }

    .ButtonIcon[data-glyph=menu]:before {
      content: '\e1f4';
    }

    .ButtonIcon[data-glyph=caret-bottom]:before {
      content: '\e14c';
    }

    .ButtonIcon[data-glyph=magnifying-glass]:before {
      content: '\e1e4';
    }

    .ButtonIcon[data-glyph=tags]:before {
      content: '\e24f';
    }

    .ButtonIcon[data-glyph=clipboard]:before {
      content: '\e15b';
    }

    .ButtonIcon[data-glyph=map-marker]:before {
      content: '\e1e5';
    }

    .ButtonIcon[data-glyph=home]:before {
      content: '\e1c1';
    }

    .ButtonIcon[data-glyph=excerpt]:before {
      content: '\e189';
    }

    .ButtonIcon[data-glyph=envelope-closed]:before {
      content: '\e186';
    }

    .ButtonIcon[data-glyph=connections]:before {
      content: '\e16b';
    }

    .ButtonIcon[data-glyph=pencil]:before {
      content: '\e204';
    }

    .ButtonIcon[data-glyph=media-play-circle]:before {
      content: '\e1ea';
    }

    .ButtonIcon[data-glyph=person-genderless]:before {
      content: '\e207';
    }

    .ButtonIcon[data-glyph=eye-open]:before {
      content: '\e190';
    }

    .ButtonIcon[data-glyph=external-link]:before {
      content: '\e18e';
    }

    .ButtonIcon[data-glyph=data-transfer-download]:before {
      content: '\e174';
    }

    .ButtonIcon[data-glyph=document]:before {
      content: '\e17b';
    }

    .ButtonIcon[data-glyph=box]:before {
      content: '\e139';
    }

    .ButtonIcon[data-glyph=key]:before {
      content: '\e1cd';
    }

    .ButtonIcon[data-glyph=arrow-right-angle-thick-top-left-fill-acute]:before {
      content: '\e070';
    }

    .ButtonIcon[data-glyph=question-mark]:before {
      content: '\e219';
    }

    .ButtonIcon[data-glyph=script]:before {
      content: '\e22a';
    }

    .ButtonIcon[data-glyph=ellipses]:before {
      content: '\e185';
    }

    .ButtonIcon[data-glyph=text]:before {
      content: '\e253';
    }

    .ButtonIcon[data-glyph=delete]:before {
      content: '\e177';
    }

    .ButtonIcon[data-glyph=browser]:before {
      content: '\e143';
    }

    .ButtonIcon[data-glyph=collapse-up]:before {
      content: '\e167';
    }

    .ButtonIcon[data-glyph=media-step-backward]:before {
      content: '\e1ef';
    }

    .ButtonIcon[data-glyph=media-step-forward]:before {
      content: '\e1f0';
    }

    .ButtonIcon[data-glyph=building]:before {
      content: '\e146';
    }

    .ButtonIcon[data-glyph=bell]:before {
      content: '\e130';
    }

    .ButtonIcon[data-glyph=chevron-top]:before {
      content: '\e158';
    }

    .ButtonIcon[data-glyph=chevron-bottom]:before {
      content: '\e155';
    }

    .ButtonIcon[data-glyph=chevron-left]:before {
      content: '\e156';
    }

    .ButtonIcon[data-glyph=warning]:before {
      content: '\e267';
    }

    .ButtonIcon[data-glyph=tools]:before {
    	content: '\e25a';
    }
    
    .ButtonIcon[data-glyph=beaker]:before {
      content: '\e12f';
    }

    .ButtonIcon[data-glyph=layers]:before {
      content: '\e1d1';
    }

    .ButtonIcon[data-glyph=iphone]:before {
      content: '\e1c8';
    }

    .ButtonIcon[data-glyph=double-quote-serif-left]:before {
      content: '\e17f';
    }

    .ButtonIcon[data-glyph=loop-circular]:before {
      content: '\e1df';
    }

    .ButtonIcon[data-glyph=link-intact]:before {
      content: '\e1d8';
    }

    .ButtonIcon[data-glyph=puzzle-piece]:before {
      content: '\e218';
    }

    .ButtonIcon[data-glyph=inbox]:before {
      content: '\e1c4';
    }

    .ButtonIcon[data-glyph=dollar]:before {
      content: '\e17c';
    }

    .ButtonIcon[data-glyph=cart]:before {
      content: '\e151';
    }

    .ButtonIcon[data-glyph=x-thin]:before {
      content: '\e26b';
    }

    .ButtonIcon[data-glyph=share]:before {
      content: '\e234';
    }

    .ButtonIcon[data-glyph=action-redo]:before {
      content: '\e002';
    }

    .ButtonIcon[data-glyph=action-undo]:before {
      content: '\e003';
    }

    .ButtonIcon[data-glyph=keypad-mobile]:before {
      content: '\e1cf';
    }

    .ButtonIcon[data-glyph=fullscreen-enter]:before {
      content: '\e1af';
    }

    .ButtonIcon[data-glyph=trash]:before {
      content: '\e25c';
    }

    .ButtonIcon[data-glyph=folder]:before {
      content: '\e1ac';
    }

    .ButtonIcon[data-glyph=lock-locked]:before {
      content: '\e1dd';
    }

    .ButtonIcon[data-glyph=data-transfer-upload]:before {
      content: '\e175';
    }

    .ButtonIcon[data-glyph=transfer]:before {
      content: '\e25b';
    }

    .ButtonIcon[data-glyph=circle-x]:before {
      content: '\e15a';
    }

    .ButtonIcon[data-glyph=circle-check]:before {
      content: '\e159';
    }
}